.ico {
  display: block;
  width: 16px;
  height: 16px;

  &.plus {
    background-image: url('../../images/common/ico/ic_plus.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  //페이지네이션 화살표
  &.arrow.prev {
    background-image: url('../../images/common/ico/btn_arrow_left1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.arrow.prev.double {
    background-image: url('../../images/common/ico/btn_doublearrow_left1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.arrow.next {
    background-image: url('../../images/common/ico/btn_arrow_right1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.arrow.next.double {
    background-image: url('../../images/common/ico/btn_doublearrow_right1.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  //버튼 내부 아이콘
  &.arrow_right {
    background-image: url('../../images/common/ico/ic_arrow_forward @x2.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  //검색 아이콘
  &.search {
    background-image: url('../../images/common/ico/ic_search @x2.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

/* ico color */
.ico-black {
  filter: grayscale(100%) brightness(0);
}
.ico-white {
  filter: brightness(0) invert(1);
}

/* ico size */
.ico-size-20 {
  width: 20px;
  height: 20px;
  
}