/* COLOR */
$color-primary-main: #192957;
$color-primary-light: #3c4c7a;
$color-primary-hover: #5a6a97;
$color-primary-hover2: #dce5ff;
$color-primary-active: #9faedb;

$white: #fff;
$black: #000;

$color-mono0: #575757;
$color-mono1: #707070;
$color-mono2: #a7a7a7;
$color-mono3: #c6c6c6;
$color-mono4: #d5d5d5;
$color-mono5: #e3e3e3;
$color-mono6: #eef0f2;
$color-mono7: #f5f5f5;
$color-mono8: #f1f1f1;
$color-mono9: #eee;


$color-bg1: #e0e7f9; //어디서 쓰는거더라
$color-bg2: #0f1d46; //adise list hover시

/* table border */
$table-line-gray: #e5e5e5;
$table-selected-gray: #ececec;

/* searchbar placeholder */
$search-place-color: #c1c1c1;
 /* textfield placeholder */
$textfield-place-color: #a7a7a7;
$textfield-primary-color: #3a55a2;

/* menubar color */
$menu-color-blue: #3f51b5;
$menu-color-green: #008759;
$menu-color-deepgreen: #093607;

/* bg */
$bg-primary-main: #192957;
$bg-primary-light: #3c4c7a;
$bg-light-blue: #eef1ff;
$bg-light-green: #e5f3ee;
.bg-primary-main {
  background: $bg-primary-main;
}
.bg-primary-light {
  background: $bg-primary-light;
}

/* selectbox bg color */
$color-light-blue : #f6f9ff;
$color-blue : #ecf1ff;

/* util hiddenbox color */
$util-bg-color: #f6f9fe;
$util-btn-color: #3f569d;
$util-btn-hover: #213160;

/* table finich state */
$bg-state-blue: #adc4fa;
$bg-state-light-blue: #ddecff;
$bg-state-red: #ffd1d6;
