/* 버튼 */
.btn {
  border-radius: 8px;
  font-size: 20px;
  min-width: 137px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  padding: 0 24px;
  cursor: pointer;

  /* 버튼 색상 및 라인 */
  &.type-bg {
    background: $color-primary-main;
    color: $white;
    &:hover {
      background: $color-primary-hover;
    }
  }
  &.type-line {
    border: 1px solid $color-primary-main;
    &:hover {
      background: $color-primary-hover2;
      //color: $white;
    }
  }
  &.disabled {
    background: $color-mono8;
    color: $color-mono3;
    .ico {
      filter: grayscale(50%) brightness(0) invert(0.8);
    }
    &:hover {
      background: $color-mono8;
    }
    &.type-line {
      border: 1px solid #d8d8d8;
      background: $white;
    }
  }
  
  /* 버튼 사이즈 */
  &.size-xsm {
    min-width: auto;
    max-width: 84px;
    height: 24px;
    padding: 0 5px;
    border-radius: 2px;
    font-size: 12px;
    color: #111;
    gap: 2px;
    box-sizing: border-box;
  }
  &.size-sm {
    min-width: 80px;
    height: 30px;
    font-size: 16px;
    padding: 0 12px;
    border-radius: 4px;
  }
  &.size-lg {
    min-height: 80px;
    font-size: 16px;
    padding: 25px 0;
    border-radius: 4px;
    font-size: 24px;
  }

  /* 기타 타입 */
  &[class*="_tb"] {
    background: red;
  }
}

.btn_tb {
  max-width: 140px;
  height: 40px;
  border: 1px solid $bg-primary-main;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-radius: 4px;
  box-sizing: border-box;
  .ico {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
  &:hover {
    color: $bg-primary-main;
    font-weight: $font-weight-bold;
    background: $color-bg1;
    
    span {
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
    .ico {
      transform: scale(1.5);
      transition: all 0.3s ease;
      filter: invert(10%) sepia(40%) saturate(3612%) hue-rotate(215deg) brightness(98%) contrast(91%);
    }
  }
}

.btn_wrap {
  display: flex;
  align-items: center;
  .btn {
    & + .btn {
      margin-left: 4px;
    }
  }
}