.contbody {
  width: calc(100% - 280px);
  .page-title {
    font-size: 32px;
    padding: 23px 44px;
    background: #f6f9ff;
    color: $color-primary-main;
    font-weight: $font-weight-bold;
  }
  .body-inner {
    padding: 0 44px;

    .searchbox  {
      margin-top: 162px;
      margin-left: 242px;
      margin-right: 242px;
    }
    .utilbox {
      margin-top: 27px;
      border-top: 2px solid $table-line-gray;
    }
  }
}