.contbody {
  width: calc(100% - 280px);
  .page-title {
    font-size: 32px;
    padding: 23px 44px;
    background: #f6f9ff;
    color: $color-primary-main;
    font-weight: $font-weight-bold;
    &.with-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        font-size: 20px;
        color: $bg-primary-main;
        .ico {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .body-inner {
    padding: 0 44px 60px;
    box-sizing: border-box;
    height: calc(100vh - 78px);
    overflow-y: auto;
    .searchbox  {
      margin-top: 162px;
      margin-left: 242px;
      margin-right: 242px;
    }
    .utilbox {
      margin-top: 27px;
      border-top: 2px solid $table-line-gray;
    }
    .pagenation-box  {
      margin-top: 18px;
    }
    .userinfo-wrap {
      
    }
  }
}