/* 테이블 */
.table_wrap {
  width: 100%;
  table {
    width: 100%;
    border-top: 2px solid $table-line-gray;
    border-bottom: 2px solid $table-line-gray;
    thead {
      tr {
        th {
          //padding: 22px 10px;
          font-size: 20px;
          color: $bg-primary-main;
          .checkbox {
            margin: -6px auto;
          }
        }
      }
    }
    tbody {
      tr {
        border-top: 4px solid $table-line-gray;
        td {
          padding: 22px 10px;
          font-size: 20px;
          text-align: center;
          .checkbox {
            margin: -6px auto;
          }
        }
        &.selected {
          background: $table-selected-gray;
          .textfield {
            min-width: auto;
            input {
              height: 40px;
              padding: 8px 12px;
              font-size: 20px;
            }
            .textfield_place {
              font-size: 20px;
            }
          }
        }
        
      }
    }
  }
  .btn_tb {
    margin: 0 auto;
  }
}