.userinfo-wrap {
  width: 100%;
  padding-top: 30px;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  .box {
    box-shadow: 0px 3px 12px #0000004D;
    border-radius: 4px;
    padding: 40px;
    box-sizing: border-box;
    .title {
      font-size: 32px;
      font-weight: $font-weight-bold;
      color: $color-primary-main;
    }
  }
  .infobox {
    float: left;
    width: 380px;
    ul {
      margin-top: 30px;
    }
    li {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      span {
        font-size: 20px;
        color: $color-primary-main;
        &:first-child {
          min-width: 94px;
          margin-right: 22px;
        }
        &:last-child {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  .graphbox {
    width: calc(100% - 400px);
    margin-left: 20px;
    float: right;
    .title {
      display: flex;
      align-items: center;
    }
    .selectbox {
      font-size: 20px;
      width: auto;
      margin-left: 10px;
      .btn-select {
        height: 44px;
      }
      .list-member {
        top: 43px;
      }
    }
    .tabs {
      margin-top: 10px;
    }
  }
}