.utilbox {
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  .active_line {
    display: flex;
    align-items: center;
    .active {
      a {
        font-weight: $font-weight-bold;
        color: $menu-color-blue;
      }
    }
    li {
      display: flex;
      align-items: center;
      & + li {
        &::before {
          content: '';
          display: block;
          width: 1px;
          height: 20px;
          background: $color-mono4;
          margin: 0 10px;
        }
      }
      &.add_txt {
        margin-left: 20px;
        a {
          font-weight: $font-weight-bold;
          color: $menu-color-blue;
        }
        &::before {
          display: none;
        }
      }
    }
    a {
      font-size: 18px;
      color: $color-mono4;
    }
  }
  .btn {
    padding: 12px 48px;
  }
}
.util_hiddenbox {
  background: $util-bg-color;
  display: flex;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 42px;
    width: calc(100% - 240px);
    margin-right: 120px;
    //padding-left: 136px;
  }
  li {
    //width: calc(33.333% - 42px);
    width: calc(33.333% - 28px);
    .selectbox {
      width: auto;
    }
  }
  .fieldname {
    font-size: 16px;
    color: $textfield-primary-color;
    font-weight: $font-weight-bold;
    margin-bottom: 4px;
  }
  .btn {
    width: 240px;
    margin-left: auto;
    background: $util-btn-color;
    &:hover {
      background: $util-btn-hover;
    }
  }
}